<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beforecar.ad">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeforeAD">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/app_name" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <meta-data
            android:name="xposedsharedprefs"
            android:value="true" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/scope" />

        <activity
            android:name="com.beforecar.ad.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.BeforeAD.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 接收京东 app log 的广播接收者 -->
        <receiver
            android:name=".AppLogReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="action_app_log_broadcast" />
            </intent-filter>
        </receiver>
    </application>

</manifest>